@model NewProductViewModel
@{
    ViewBag.Title = "Create";

    var imageURL = "/Content/images/defaultimage.jpg";
}

<h2>Create Product</h2>

<form id="createProduct">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Category</label>
                <select class="form-control" name="CategoryID">
                    @foreach (var category in Model.AvailableCategories)
                    {
                        <option value="@category.ID">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="Name" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" />
            </div>
            <div class="form-group">
                <label>Price</label>
                <input class="form-control" name="Price" value="0"/>
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="hidden" class="form-control" id="ImageURL" name="ImageURL" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </div>
            <button id="saveBtn" class="btn btn-primary" type="button">Save</button>
            <button id="cancelBtn" class="btn btn-primary" type="button">Cancel</button>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="productImage" src="@imageURL" />
            </div>
        </div>
    </div>
</form>



@*<form id="createProduct">
        <label>Category</label>
        <select name="CategoryID">
            @foreach (var category in Model)
            {
                <option value="@category.ID">@category.Name</option>
            }
        </select>
        <br />
        <label>Name</label>
        <input name="Name" />
        <br />
        <label>Description</label>
        <input name="Description" />
        <br />
        <label>Price</label>
        <input name="Price" />
        <br />
        <button id="saveBtn" type="button">Save</button>

    </form>*@

<script>
    $("#imageUpload").change(function () {
        /*debugger;*/
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            data: formData,
            url: '@Url.Action("UploadImage", "Shared")',//'/Shared/UploadImage',
            dataType: 'json',
            contentType: false,
            processData: false
        }).done(function (response) {
            /*debugger;*/
            console.log(response);

            if (response.Success == true) {
                $("#ImageURL").val(response.ImageURL);
                $("#productImage").attr("src", response.ImageURL);
            }
        })
    });

    $("#saveBtn").click(function () {
        if ($("#createProduct").valid()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "Product")',//'/Product/Create',
                data: $("#createProduct").serialize()
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                    $("#actionContainer").html("");
                    focusAction("tableContainer");
                }).fail(function (XMLHTTPRequest, textStatus, errorThrown) {
                    alert("fail");
                });
        }
        else {
            swal({
                title: "Something went wrong",
                text: "Please enter valid requiried details",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
        }
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });


    $('#createProduct').validate({
        rules: {
            Name: {
                required: true,
                minlength: 3,
                maxlength: 50
            },
            Description: {
                maxlength: 500
            },
            Price: {
                range:[1,10000000]
            }
        },
        messages: {
            Name: {
                required: 'Name is required',
                minlength: 'Minimum length is 3',
                maxlength: 'Maximum length is 50'
            },
            Description: {
                maxlength: 'Maximum length is 500'
            },
            Price: {
                range: 'Price should be between 1 - 10000000'
            }
        }
    });
</script>